body {
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    display: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.visible {
    visibility: inherit;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.minimized {
  left: -430px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.maximized {
  left: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}


#directions-widget {
    top: 70px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 20px;

    width: 400px;
    height: 110px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}

#directions-instructions {
    background-color: rgba(255, 255, 255, .45);
    width: 400px;
    height: 400px;
    padding: 20;
    margin: 0;
    font-size: 12px;
    overflow: auto;
}

#infowindow {
    bottom: 50px;
    width: 400px;
    height: 210px;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 20px;
    font-size: 14px;
}

.legend {
  bottom: -190px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.full-legend {
  bottom: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#legend {
    left: 100px;
    width: 241px;
    height: 210px;
    outline: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .85);
    padding: 14px;
    font-size: 20px;
    font-family: Roboto;
    text-overflow: ellipsis;
    color: #f62;
}

#legend .title {
    padding-left: 30px;
}

#legend .legend {
    padding-top: 10px;
    margin: 0;
    border: 0;
}

.close {
    width: 30px;
    margin-right: -3em;
    margin-top: -30px;
    margin-right: -30px;
    padding: 0;
    color: #777;
    float: right;
    font-size: 30px;
    display: inline-block;
}

.close a {
    text-decoration: none;
    color: inherit;
}

.close a:hover {
    color: #38d;
}

.shadow{
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#title {
    background-color: rgba(255, 255, 255, .85);
    padding: 5px 12px 0 14px;
    font-size: 20px;
    font-family: Roboto;
    text-overflow: ellipsis;
    color: #f62;
    height: 41px;
}

.text-input {
    background-color: rgba(255, 255, 255, .85);
    padding: 5px 12px 0 14px;
    width: 373px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-overflow: ellipsis;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 41px;
    outline: none;
}

.clear-text {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    color: #666;
    padding: 0 5px 0 2px;
    margin-left: -3px;
    background-color: rgba(255, 255, 255, .85);
    width: 20px;
    height: 41px;
    display: inline-block;
}

.clear-text a {
    text-decoration: none;
    color: #666;
}

.clear-text a:hover {
    color: #38d;
}

#search-results {
    background-color: rgba(255, 255, 255, .85);
    padding-top: 8px;
    border-top: 2px solid #bbb;
    width: 400px;
    overflow-y: auto;
    max-height: 500px;
}

.controls {
    margin-top: 16px;
    margin-left: 16px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.result {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 0 12px 8px 14px;
    width: 354px;
    border-bottom: 1px dashed #bbb;
}

h3.result-name{
    padding-top: 0;
}
